<main>
  <div id="logo">
    <img [src]="details.thumbnailPath">
  </div>

  <div id="specification">
      <table>
        <tr id="langName">
          <td> <b> {{ details.name }} </b> </td>
        </tr>

        <tr>
          <td> Tiobe index </td>
          <td *ngIf="details.tiobeIndex">
            <fa-icon *ngIf="details.tiobeIndex.status === globalTiobeStatus.UP" [icon]="upIcon" style="color: rgb(117, 155, 99)"></fa-icon>
            <fa-icon *ngIf="details.tiobeIndex.status === globalTiobeStatus.SUPER_UP" [icon]="upIcon" style="color: rgb(52, 180, 40);"></fa-icon>

            <fa-icon *ngIf="details.tiobeIndex.status === globalTiobeStatus.DOWN" [icon]="downIcon" style="color: orange"></fa-icon>
            <fa-icon *ngIf="details.tiobeIndex.status === globalTiobeStatus.SUPER_DOWN" [icon]="downIcon" style="color: orangered;"></fa-icon>

            {{ details.tiobeIndex.rank }} (March 2023)
          </td>
          <td *ngIf="!(details.tiobeIndex)"> Undefined </td>
        </tr>

        <tr *ngIf="details.firstAppeared">
          <td> First appeared </td>
          <td> {{ details.firstAppeared }}</td>
        </tr>

        <tr *ngIf="details.website">
          <td> Website </td>
          <td id="website"><a title="Go to" [href]="details.website" target="_blank"> {{ details.website }}</a> </td>
        </tr>

        <tr *ngIf="details.stableRelease">
          <td> Stable release </td>
          <td> {{ details.stableRelease }} </td>
        </tr>

        <tr *ngIf="details.fileExtensions">
          <td> File extensions </td>
          <td> {{ details.fileExtensions }} </td>
        </tr>

        <tr *ngIf="details.implementations">
          <td> Implementations </td>
          <td> {{ details.implementations }} </td>
        </tr>

        <tr *ngIf="details.paradigms">
          <td> Paradigms </td>
          <td> {{ details.paradigms }} </td>
        </tr>
      </table>
  </div>

  <div id="menu">
    <div id="controls">
      <button (click)="showDescription()" #descriptionButton> Description </button>
      <button (click)="showTrends()" #trendsButton> Trends </button>
    </div>

    <div id="description" #description [innerHTML]="details.description"></div>

    <div id="trends" #trends>
      <div *ngFor="let trend of details.trendsList">
        <p class="repoName" title="See the repository">
          <fa-icon class="githubIcon" [icon]="githubIcon"></fa-icon>&nbsp;
          <a [href]="trend.linkToRepository" target="_blank"> {{ trend.repositoryName }} </a>
        </p>

        <p class="repoDesc"> {{ trend.description }} </p>
        <p class="repoStars"> Stars<br> Total: {{ trend.totalStars }} | Monthly: {{ trend.monthlyStars }} </p>
      </div>
    </div>
  </div>
</main>
